<div class="container mt-5 home-background"> 
   <nav class="navbar navbar-dark custom-navbar fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">CarteLine </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header  custom-text-color">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">CarteLine</h5>
            <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body custom-body-color">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
             
              <li class="nav-item">
                <a class="nav-link active" class="btn dark" aria-current="page" href="/home">Home</a>
            
              <li class="nav-item">
               <a class="nav-link"  class="btn dark" href="/login"> Administrateur</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link"  class="btn dark" href="/contact"> Contact</a>
              </li>
             
        
        
            </ul>
            <!--form class="d-flex mt-3" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success" type="submit">Search</button>
            </form-->
          </div>
        </div>
      </div>
    </nav>
    <h2 class="category-section-title">============================================================</h2>
    <h2 class="category-section-title">Découvrez avec notre site web les entreprise situe au maroc avec toute facile</h2>
  
    <style>
        .custom-carousel {
            margin-top: 70px; 
        }
    </style>
  
    <nav>
      <div id="carouselExampleIndicators" class="carousel slide custom-carousel card" style="max-height: 500px; overflow-y: auto;">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/casablanca.jpg" width="1300" height="400" alt="Crarousez.im1" class="card-img-top">
          </div>
       
          <div class="carousel-item">
            <img src="assets/images/imgcasa.jpg" width="1300" height="400" alt="Carousel.im2" class="card-img-top">
          </div>
          <div class="carousel-item">
            <img src="assets/images/imgcasa2.jpg" width="1300" height="400" alt="Carousel.im3" class="card-img-top">
          </div>
          <div class="carousel-item">
           <img src="assets/images/mardrap.jpg" width="1300" height="400" alt="Carousel.im3" class="card-img-top">
         </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
       </div>   
    </nav>
  
    <style>
        .custom-carousel {
            margin-top: 70px; 
        }
    </style>
  
    <div class="container">
      <h2 class="category-section-title">Découvrez nos Services</h2>
      <div class="row mt-5">
        <div class="col-md-6">
          <div class="category-card">
            <video autoplay loop muted class="img-fluid" width="100%"  controlsList="nodownload">
              <source src="assets/images/vdd1.mp4" type="video/mp4">
            </video>
            <h3 class="category-title">Service Sante</h3>
            <p class="category-description">Le service Santé vise à offrir un accès pratique et efficace aux entreprises du secteur de la santé au Maroc. En regroupant plusieurs entreprises dans un même espace en ligne, notre plateforme facilite la recherche et la découverte de services de santé variés pour les particuliers et les professionnels.</p>
            <a href="/santeliste" class="btn btn-custom" href="/santeliste">Voir Entreprise</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="category-card">
            <video autoplay loop muted class="img-fluid"  width="100%" controlsList="nodownload">
              <source src="assets/images/vdd2.mp4" type="video/mp4">
            </video>
            <h3 class="category-title">Service Education</h3>
            <p class="category-description">Le service Santé vise à offrir un accès pratique et efficace aux entreprises du secteur de la santé au Maroc. En regroupant plusieurs entreprises dans un même espace en ligne, notre plateforme facilite la recherche et la découverte de services de santé variés pour les particuliers et les professionnels.</p>
          
            <a href="/categorie-cheveux" class="btn btn-custom" href="/educationliste">Voir Entreprise</a>
          </div>
        </div>
        <h2 class="category-section-title">========================================================================================</h2>
        <div class="col-md-6">
          <div class="category-card">
            <video autoplay loop muted class="img-fluid" width="100%"  controlsList="nodownload">
              <source src="assets/images/vidhot.mp4" type="video/mp4">
            </video>
            <h3 class="category-title">Service Sante</h3>
            <p class="category-description">Le service Santé vise à offrir un accès pratique et efficace aux entreprises du secteur de la santé au Maroc. En regroupant plusieurs entreprises dans un même espace en ligne, notre plateforme facilite la recherche et la découverte de services de santé variés pour les particuliers et les professionnels.</p>
            <a href="/santeliste" class="btn btn-custom" href="/santeliste">Voir Entreprise</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="category-card">
            <video autoplay loop muted class="img-fluid"  width="100%" controlsList="nodownload">
              <source src="assets/images/vdd2.mp4" type="video/mp4">
            </video>
            <h3 class="category-title">Service Education</h3>
            <p class="category-description">Le service Santé vise à offrir un accès pratique et efficace aux entreprises du secteur de la santé au Maroc. En regroupant plusieurs entreprises dans un même espace en ligne, notre plateforme facilite la recherche et la découverte de services de santé variés pour les particuliers et les professionnels.</p>
          
            <a href="/categorie-cheveux" class="btn btn-custom" href="/educationliste">Voir Entreprise</a>
          </div>
        </div>
      </div>
      <h2 class="category-section-title">========================================================================================</h2>
    </div>
    
    <div class="cate-card2">
        <h2 class="category-section-title">Contacter nous pour une reclamation ou pour plus d'information</h2>
        <h2 class="category-section-title">Email : CarteLine@gmail.com</h2>
        <h2 class="category-section-title">Telephone : 05 . 45 . 65 .89 .24</h2>
    </div>

</div>
   

  
  
  
  
  
